.content {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formCustom {
        display: flex;
        flex-direction: column;
        min-height: 300px;
        min-width: 400px;
        padding: 20px;
        text-align: center;
    }
}